<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro Usuário</h1>
    <form action="{{url_for('cadastro')}}" method="POST">
        <label for="name">
            Matrícula
        </label>
        <input type="text" name="matricula" placeholder="Digite sua matricula">

        <label for="name"></label>
            Email
        </label>
        <input type="text" name="email" placeholder="Digite seu email">
        
        <label for="name"></label>
            Senha
        </label>
        <input type="password" name="password" placeholder="Digite sua senha">
        <input type="submit" value="Enviar">
    </form>

</body>
</html>